body {
	min-height: 100vh;
	overflow-y: scroll;
}

main {
	min-height: calc(100vh - 565.868px);
}

html {
  scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #0a005c #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #0a005c;
	border-radius: 10px;
	border: 3px solid #ffffff;
}