.container {
  width: 100%;
  display: flex;
  padding: 0 10rem;
  transition: height 0.5s ease-in-out;
  // background-color: #FFF8F8F4;
}

.sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  color:#858585;
  border: 2px solid #a0a0a0;
  height: 75px;
  width: 75px;
  margin: 15px;

  transition: all .3s;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: xxx-large;
  cursor: pointer;
}

.circle:hover {
  box-shadow: 0 0 20px #f72584ce;
  background: #F72585;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
}

.selected{
  background: #ff74b2;
  color: rgb(241, 241, 241);
  border: 2px solid transparent;
}

.content {
  padding: 0 50px;
  width: 70%;
  overflow:hidden;
  height:67rem;
  position:relative;
}


.card {
  // height: 50rem;
  background-color: white;
  border-radius: 6rem;
  border: 6px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  position: absolute;
  top:50%;
}

.cardTitle {
  @apply font-bold;
  font-size: xxx-large;
  margin-bottom: 20px;
}
