.container {
  width: 100%;
  display: flex;
  transition: height 0.5s ease-in-out;
  // background-color: #FFF8F8F4;
}

.circle {
  border-radius: 50%;
  color: black;
  border: 2px solid #a0a0a0;
  height: 75px;
  width: 75px;
  margin: 15px;

  transition: all .3s;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: xxx-large;
  cursor: pointer;
}

.circle:hover {
  box-shadow: 0 0 20px #f72584ce;
  background: #F72585;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
}

.selected{
  background: #ff74b2;
  color: rgb(241, 241, 241);
  border: 2px solid transparent;
}


.card {
  // height: 50rem;
  border: 6px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  position: absolute;
  top:50%;

  left:50%;
}