.container{max-width:80%;padding:0px 15px;}
#main{padding: 100px;padding-bottom:0px;}
.content{height: 600px;}


.prof_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
}
.prof_dsc{
    color:black;
}
.box {
    background: #b1dbff;
    width: 370px;
    height: 150px;
}